@font-face {
  font-family: "ESRebondGrotesque";
  src: url("/fonts/ES Rebond Grotesque/ESRebondGrotesqueTRIAL-Bold.otf")
    format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "ESRebondGrotesque";
  src: url("/fonts/ES Rebond Grotesque/ESRebondGrotesqueTRIAL-Extrabold.otf")
    format("opentype");
  font-weight: 800; /* Extrabold */
  font-style: normal;
}

@font-face {
  font-family: "ESRebondGrotesque";
  src: url("/fonts/ES Rebond Grotesque/ESRebondGrotesqueTRIAL-Extralight.otf")
    format("opentype");
  font-weight: 200; /* Extralight */
  font-style: normal;
}

@font-face {
  font-family: "ESRebondGrotesque";
  src: url("/fonts/ES Rebond Grotesque/ESRebondGrotesqueTRIAL-Hairline.otf")
    format("opentype");
  font-weight: 100; /* Hairline */
  font-style: normal;
}

@font-face {
  font-family: "ESRebondGrotesque";
  src: url("/fonts/ES Rebond Grotesque/ESRebondGrotesqueTRIAL-Light.otf")
    format("opentype");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "ESRebondGrotesque";
  src: url("/fonts/ES Rebond Grotesque/ESRebondGrotesqueTRIAL-Medium.otf")
    format("opentype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "ESRebondGrotesque";
  src: url("/fonts/ES Rebond Grotesque/ESRebondGrotesqueTRIAL-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ESRebondGrotesque";
  src: url("/fonts/ES Rebond Grotesque/ESRebondGrotesqueTRIAL-Semibold.otf")
    format("opentype");
  font-weight: 600; /* Semibold */
  font-style: normal;
}

@font-face {
  font-family: "ESRebondGrotesque";
  src: url("/fonts/ES Rebond Grotesque/ESRebondGrotesqueTRIAL-Thin.otf")
    format("opentype");
  font-weight: 100; /* Thin */
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik/Aeonik-Air.otf") format("opentype");
  font-weight: 200; /* Air */
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik/Aeonik-Black.otf") format("opentype");
  font-weight: 900; /* Black */
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik/Aeonik-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik/Aeonik-Light.otf") format("opentype");
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik/Aeonik-Medium.otf") format("opentype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik/Aeonik-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Aeonik";
  src: url("/fonts/Aeonik/Aeonik-Thin.otf") format("opentype");
  font-weight: 100; /* Thin */
  font-style: normal;
}
